<template>
  <textarea class="redactor" :name="name" :placeholder="placeholder">{{ value }}</textarea>
</template>

<style src="./redactor.css">

</style>
<script>
if (typeof window.jQuery == "undefined") {
  let jquery = $ = require('jquery')
}

import { merge } from 'lodash'
import './redactor'

export default {
  props: {
    value: {
      required: true
    },
    name: {
      required: true,
      type: String
    },
    disabled: {
      required: false,
      default: false,
      type: Boolean
    },
    placeholder: {
      required: false,
      default: '',
      type: String
    },
    options: {
      required: false,
      type: Object,
      default: () => {
        return {}
      }
    }
  },

  data () {
    return {
      changeViaRedactor: false
    }
  },

  watch: {
    value (newValue, oldValue) {
      if (!this.changeViaRedactor || newValue === null) {
        $(this.$el).redactor('code.set', newValue, { start: true })
      }

      this.changeViaRedactor = false
    },

    disabled (disabled) {
      if (disabled) {
        $(this.$el).redactor('core.toolbar').hide()
        $(this.$el).redactor('core.editor').attr('contenteditable', 'false')
      } else {
        $(this.$el).redactor('core.toolbar').show()
        $(this.$el).redactor('core.editor').attr('contenteditable', 'true')
      }
    }
  },

  mounted () {
    const vm = this

    $(this.$el).redactor(merge({
      plugins: ['source'],
      imagePosition: true,
      imageResizable: true,
      callbacks: {
        init: function () {
          this.code.set(vm.value, { start: true })
          if (this.disabled) {
            $(this.$el).redactor('core.toolbar').hide()
            $(this.$el).redactor('core.editor').attr('contenteditable', 'false')
          }
        },
        change: function (content) {
          vm.changeViaRedactor = true

          vm.$emit('input', content)
        }
      }
    }, this.options))
  }
}
</script>
